@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

.text-gradient {
    background: -webkit-linear-gradient(
        right,
        #db2828 33%,
        #66cbf6 66%,
        #12e20e 100%
    );

    -webkit-background-clip: text;
    /*   
    `color` seems to work too
    -webkit-text-fill-color: transparent; 
  */
    color: transparent;
}
